/* ใช้สำหรับล้างค่าเริ่มต้นและกำหนดฟอนต์ */
body {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif; /* ตัวอย่างฟอนต์ */
    box-sizing: border-box;
}

h1, p {
    margin-bottom: 15px;
}